/* defaulte css */

*{
    padding: 0;
    margin: 0;
}
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}
.fixed-width{
    max-width: 1024px;
    margin: auto;
}
img{
    max-width: 100%;
}

/* header prat */

.header{
    background-color: #3398da;
}
.logo{
    float: left;
    width: 30%;
    margin-top: 15px;
}
.logo a{
    text-decoration: none;
    color: white;
    font-size: 40px;
}
.menubar{
    float: right;
    width: 70%;
}
.menubar ul{
    text-align: right;
}
.menubar ul li{
    display: inline-block;
    margin-left: -4px;
}
.menubar ul li a{
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 0 20px;
    line-height: 50px;
    border-right: 1px solid #fff;
    transition: .4s;
}
.menubar ul li a:hover{
    background-color: #2980b9;
}
/* banner */
.banner{
    background-image: url(https://smartslider3.com/wp-content/uploads/2019/01/photo_slideshow.jpg) ;
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    padding: 200px;
    background-attachment: fixed;

}
.banner-section h2{
    background: rgba(0,0,0,.4);
    color: #fff;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 5px;


}
.banner-section h1{
    background: rgba(52, 152, 219,.6);
    color: #fff;
    display: inline-block;
    padding: 5px 25px;
    border-radius: 5px;
    margin-top: 30px;
}
/* about */

.about {
    background: #ecf0f1;
    padding: 50px 0;
    text-align: center;
}
.about h2 {
    font-size: 35px;
    margin-bottom: 16px;
}
.about p {
    max-width: 700px;
    margin: auto;
    font-size: 19px;
}
/* service */
.service {
    background-color: #f9f9f9;
    padding: 60px;
    text-align: center;
}
.service-item {
	width: 31.3%;
	float: left;
	border: 1px solid #ddd;
	padding: 25px 10px;
	box-sizing: border-box;
	margin-left: 1%;
	margin-right: 1%;
}
.service-item span {
    display: block;
    height: 60px;
    width: 60px;
    background: #3498db;
    color: #fff;
    margin: auto;
    font-size: 35px;
    line-height: 60px;
    border-radius: 20px 0 20px 0;
}
.service-item h3 {
    margin: 20px 0;
    font-size: 30px;
}
/* blog */

.blog-section{
    padding-top: 55px;
    padding-bottom: 30px;
}
.blog-left-section{
    float: left;
    width: 70%;
}
.blog-right-section{
    float: right;
    width: 25%;
}
.blog-item{
    margin-bottom: 30px;
}
.blog-item img{
    float: left;
    width: 140px;
    height: auto;
    margin-right: 15px;
}
/* Blog Right Section */
.blog-right-section h2 {
    font-size: 32px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding-bottom: 6px;
}
.blog-right-section ul{
    list-style: none;
}
.blog-right-section ul li {
    border: 1px solid #ddd;
    background: #fafafa;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 9px;
    border-radius: 5px;
}
/* footer*/
.footer{
    background: #2c3e50;
    color: #fff;
    padding: 15px 0;
}
.footer-left{
    float: left;
    width: 40%;
}
.footer-right{
    float: right;
    width: 60%;
}
.social-menu{
    text-align: right;
}
.social-menu li{
    display: inline-block;
}
.social-menu li a {
    color: #fff;
    font-size: 20px;
    margin-left: 10px;
}

/* responsive */
.menubar span{
    color: #fff;
    cursor: pointer;
    font-size: 30px;
}

/* end */